<html  >
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.8.2/angular-route.min.js" ></script>
    <body  ng-app="app" ng-controller="downloadgetController">
        
        <script src="../variableGlobale.js"></script>
        <script src="../Controllers/downloadController.js"></script>
        <script src="../API/downloadService.js"></script>
    
        <script src="../API/downloadService.js"></script>
        <script src="../API/forfaitService.js"></script>
        <script src="../API/messageService.js"></script>
        <script src="../API/userService.js"></script>
        <script src="../API/loginService.js"></script>
        <script src="../API/prospectService.js"></script>
        
        <script src="../Controllers/downloadController.js"></script>
        <script src="../Controllers/forfaitControllers.js"></script>
        <script src="../Controllers/messageController.js"></script>
        <script src="../Controllers/userController.js"></script>
        <script src="../Controllers/loginController.js"></script>
        <script src="../Controllers/prospectController.js"></script>

<h1>Download</h1>

    <button type="button" ng-click="downloadName()">Telecharger</button>
   </body>
</html>