<div>
    <input type="text" ng-model="query"/> 
    <select ng-model="order">
        <option value="firstName"> Organiser par nom </option>
        <option value="lastName"> Organiser par content </option>
    </select>
   
    
     
            <div ng-repeat="user in users | filter:{firstName:query} | orderBy:order">
                <p>
                    <strong>{{user.userName}}</strong><br>
                    {{user.lastName}}
                </p>
            
            </div>
       
   
</div>  
    
    


