<!DOCTYPE html>
<html ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Accueil</title>

    <!-- Bootstrap core CSS -->
    
</head>

<body id="backg_blue">
    <div id="container" class="container">
        <div ng-controller="forfaitController">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b>Se connecter</b></h5>
                        <form class="form-signin" action="./bienvenue.html" method="POST">
                            <div class="form-label-group">
                                <br>
                                <input type="text" id="nom"  class="form-control" placeholder="Nom"
                                    required autofocus>
                            </div>
                            <div class="form-label-group">
                                <br>
                                <input type="text" id="prenom" class="form-control" placeholder="prenom"
                                    required autofocus>
                            </div>
                            <div class="form-label-group">
                                <br>
                                <input type="text" id="email" class="form-control"
                                    placeholder="email" required>
                                <br>
                                <br>
                            </div>
                            <div class="form-label-group">
                                <br>
                                <input type="text" id="phone" class="form-control"
                                    placeholder="phone" required>
                                <br>
                                <br>
                            </div>
                            <div class="form-label-group">
                                <br>
                                <input type="text" id="psw" class="form-control"
                                    placeholder="Mot de passe" required>
                                <br>
                                <br>
                            </div>
                            <div class="text-center">
                                <input   type="button"  id="btnGet"  value="OK"  />
                            </div>
                            <br>
                            <br>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
       </div> 
    </div>

    <script src="fetch.js"></script>
    <!-- <script src="getData.js"></script> -->

</body>

</html>