<html ng-app="app" >
    <body  ng-controller="downloadgetController">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.8.2/angular-route.min.js" ></script>
        <script src="../../../app/variableGlobale.js"></script>
        <script src="../../../app/Controllers/downloadController.js"></script>
        <script src="../../../app/API/downloadService.js"></script>
    
        <script src="../../../app/API/downloadService.js"></script>
        <script src="../../../app/API/forfaitService.js"></script>
        <script src="../../../app/API/messageService.js"></script>
        <script src="../../../app/API/userService.js"></script>
        <script src="../../../app/API/loginService.js"></script>
        <script src="../../../app/API/prospectService.js"></script>
        
        <script src="../../../app/Controllers/downloadController.js"></script>
        <script src="../../../app/Controllers/forfaitControllers.js"></script>
        <script src="../../../app/Controllers/messageController.js"></script>
        <script src="../../../app/Controllers/userController.js"></script>
        <script src="../../../app/Controllers/loginController.js"></script>
        <script src="../../../app/Controllers/prospectController.js"></script>

<h1>Download</h1>

    <button type="button" ng-click="downloadName()">Telecharger</button>
   </body>
</html>