
<a href="#!/">Revenir</a>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://code.angularjs.org/1.8.2/angular-route.min.js" ></script>


<body>
    <!-- <div><a href="#!/messages">Liste des messages  </a></div> -->
    <br> 
    <div class="container-fluid">

        
          <h2> login </h2>
          

            <table>
                <tr>
                    <td width="100">email:</td>
                    <td><input type="text" id="email" ng-model="login.email"/></td>
                </tr>
                <tr>
                    <td width="100">Mot de passe:</td>
                    <td><input type="text" id="psw" ng-model="login.passWord"/></td>
                </tr>
            </table>
            <br>
    
    
  <div>
    <button ng-click="login()">connecter</button> 
    <!-- <button ng-click="getAllUsers()">Get All User</button> 
    <button ng-click="deleteUser(user.id)">Delete User</button> 
   
     <button ng-click="updateUser(user.firstName,user.lastName,user.email
    ,user.phoneNumber,user.passWord)">Apdate User</button> 
    <button ng-click="addUser(user.firstName,user.lastName,user.email
    ,user.phoneNumber,user.passWord)">Add User</button>  -->
    <!-- <div ng-init="users={{getAllUsers()}}"> -->
    </div>
     

</body>

    
    


