
<a href="#!/">Revenir</a>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://code.angularjs.org/1.8.2/angular-route.min.js" ></script>


<body>
    <!-- <div><a href="#!/messages">Liste des messages  </a></div> -->
    <br> 
    <div class="container-fluid">
        <div>
            <h2>ajouter un prospect</h2>
            <input type="text" id="" ng-model="prospect.prospectNom" placeholder="nom du prospect"/>
            <input type="text" id="" ng-model="prospect.prospectPrenom" placeholder="prospect prenom " />
            <input type="text" id="" ng-model="prospect.prospectNum" placeholder="prospect prenom " />
            <button ng-click="addProspect()">connecter</button>
        </div>
    </div>

</body>

    
    


